/* ========================================
  リセットCSS
========================================= */

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-style:normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}

ul{
    list-style:none;
}

/* ========================================
  基本情報
========================================= */
body{
  color:#646060;
  font-family: sans-serif;
  width:100%;
}

body a{
  color:#646060;
  text-decoration: none;
}

body a:hover{
  color:#5b8bac;
}

.wrapper{
  height:auto;
  overflow: hidden;
}


/* ========================================
  ヘッダー
========================================= */
header{
  width:100%;
  height:800px;
}

#header_inner{
  position: fixed;
/*  margin-left: 50px;*/
  width: 100%;
  background-color: rgba(142,168,177,0.7);
  z-index: 2;
}

#header_inner_left{
  float: left;
}

#header_inner_left p{
  font-size: 30px;
  padding: 23px 140px;
  float: left;
  font-weight:100;
  font-family: 'Handlee', cursive;
}

#header_inner_left ul{
  float: right;
  padding-top: 30px;
}

#header_inner_left li{
  float: left;
  border-left: 0.5px solid #646060;
  padding:0px 50px;
  font-family: 'Handlee', cursive;
  font-size: 20px;
}

#header_inner_left li:first-child{
  border-left: none;
  padding-right: 50px;
}

#header_inner_left li:last-child{
  border-right: none;
  padding-right: 50px;
}

#main_picture{
  padding-left: 100px;
}

#main_picture img{
  margin-top: 100px;
  width:1238px;
  height:652px;
}

/* ========================================
  メインコンテンツ
========================================= */

/* ========================================
イントロダクション
========================================= */

#introduction{
    width: 1238px;
    height:700px;
/*    background-color: #f00;*/
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 200px;
}


#introduction #image_introduction {
  padding-top: 20px;
  width:1220px;

}

.animation {
    position: relative;
    width: 1200px;
    float: left;
}

.animation .caption {
    position: absolute;
    padding: 20px;
    background: #f5f5f5;
    top:20px;
    width: 1180px;
    height: 678px;
    opacity: 0;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.animation:hover .caption {
    opacity: 0.9;
    -webkit-transform: translate(8px, 8px);
    -ms-transform: translate(8px, 8px);
    -o-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
}

.information{
    width: 280px;
    margin:230px auto;
}

.information h2{
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-left: 80px;
    border-bottom: 0.5px solid #646060;
}

/* ========================================
Hobbies
========================================= */


#hobbies{
  width:1238px;
  height: 1300px;
  margin-left: 100px;
  margin-bottom: 500px;
}

.title_hobbies{
    font-size: 50px;
    font-family: 'Handlee', cursive;
    text-align: center;
    padding-bottom: 20px;
    font-weight:60;

}

.hobby_caption{
    margin-top: 30px;
    padding-bottom: 5px;
}

#hobbies #content1{
  width:1238px;
  height:415px;
  background-color: #f5f5f5;
}

#hobbies .explain1{
  float:right;
  width:400px;
  height:400px;
  margin-right: 150px;
}

#hobbies #content2{
  width:1238px;
  height:425px;
  background-color: #f5f5f5;
}

#hobbies .explain2{
  float: left;
  width:400px;
  height:400px;
  margin-left: 50px;
}


#hobbies #content3{
  width:1238px;
  height:440px;
  background-color: #f5f5f5;
}

#hobbies .explain3{
  float:right;
  width:400px;
  height:400px;
  margin-right: 150px;
}

#hobbies #content4{
  width:1238px;
  height:424px;
  background-color: #f5f5f5;
  position: relative;
}

#hobbies .explain4{
  float:right;
  width:400px;
  height:400px;
  margin-right: 150px;
}

.glarch{
    font-size: 18px;
    border: 1px solid #646060;
    padding: 5px 30px;
    border-radius: 25px;
    position: absolute;
    top:300px;
    left:170px;

}

.glarch:hover{
    border: 1px solid #5b8bac;
    background-color: #fff;
}

#hobbies #image1{
  width:619px;
  height:auto;
  float: left;
}

#hobbies #image2{
  width:619px;
  height:auto;
  float: right;
}

#hobbies #image3{
  width:619px;
  height:auto;
}

#hobbies h2{
  font-size: 35px;
  padding-top: 70px;
}


#hobbies h3{
  font-family: 'Handlee', cursive;
  letter-spacing: .1rem;
  font-weight: 50px;
  font-size: 30px;
  border-bottom: 0.5px solid #6B8B9755;
  margin-top:50px;
  padding-bottom:5px;
}


#hobbies p{
  padding-top: 40px;
}

/* ========================================
lab
========================================= */
#laboratory{
    width: 1238px;
    height:700px;
/*    background-color: #f00;*/
    margin: 0 auto;
    margin-bottom: 200px;
    margin-top: 300px;

}

#image_lab{
  padding-top: 20px;
  width:1220px;
}

#laboratory h2{
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-left: 55px;
    border-bottom: 0.5px solid #646060;
}

.information2{
    width: 280px;
    margin:180px auto;
    position: relative;
}

.readmore{
    font-size: 12px;
    border: 1px solid #646060;
    padding: 10px 20px;
    border-radius: 20px;
    position: absolute;
    top:270px;
    left: 75px;

}

.readmore:hover{
    border: 1px solid #5b8bac;
    background-color: #fff;
}

/* ========================================
galley
========================================= */
#galley{
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.box{
    width:300px;
    height:300px;
    float: left;
}

.footer_space{
    width:100%;
    height:30px;
    background-color: rgba(142,168,177,0.5);
    margin-top: 100px;
}

.footer_space p{
    padding-top:3px;
    text-align: center;
}

.copy{
    font-size: 15px;
}
